* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
}

.navbar {
  width: 100%;
  height: 100px;
}

.searchInput {
  height: 38px;
  border-radius: 6px 0 0 6px;
  border: 1px solid white;
}

.searchInput:focus {
  border: blue 1px solid;
}

.height-75 {
  height: 75px;
}

.bg-image {
  z-index: 1;
  background: url('navbarBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
}

.weatherImageimg {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  background: url('weatherImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherImageDiv {
  position: absolute;
  width: 100%;
  height: calc(100vh - 75px);
  z-index: -1;
}

.temperature {
  display: none;
  border-radius: 25px;
  text-align: center;
  width: 800px;
  border: white solid 2px;
  background-size: cover;
  z-index: 1;
}

.convertToCelcius {
  display: none;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  border: 0;
  background-color: white;
  color: brown;
  font-weight: bold;
  font-size: 20px;
}

.convertToFarenheit {
  width: 150px;
  height: 50px;
  border-radius: 6px;
  border: 0;
  background-color: brown;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.temperatureDetailsBG {
  position: relative;
}

.weatherDetails {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.weatherHeading {
  color: brown;
  font-weight: bold;
  font-size: 30px;
}